@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.animated-switch {
  position: relative;
}

.animated-switch > div {
  position: absolute;
}

#miles-filter-container {
  position: relative;
  display: inline-block;
}

#miles-filter-container::after {
  content: "miles";
  font-weight: 400;
  position: absolute;
  top: 7px;
  right: 1.4em;
}
